.grid-container{
    display: grid;
    grid-template-columns: repeat(12, auto); /* 12 equal-width columns */
    grid-gap: 10px; /* Gap between grid items */
}


.carrosselCirculos{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px; /* Adjust the gap between carousel items as needed */
    overflow-x: auto; /* Enable horizontal scrolling when the items exceed the container's width */
    white-space: nowrap;
}

.carrosselCirculos a {
    padding: 10px;
    text-align: center;
    display: inline-block; /* Ensure that the items are displayed inline and can be scrolled horizontally */
}

.carrosselTrabalhos{
    display: grid;
    grid-auto-flow: column;
}
