/*----------------------  SEARCH*/
.search-container {
    margin: 20px;
    padding: 2vh;
    border: 3px solid #FFBE6D;
}

.search-input {
    margin-right: 10px;
    border-bottom: 2px solid #FFBE6D;
    background-color: #110900;
}

.tag-checkbox {
    margin-right: 10px;
}

/*----------------------  TABELA*/
.search-table {
    width: 90%;
    border-collapse: collapse;
    margin: 4vh;
}

.search-table th,
.search-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.search-table td:first-child {
    border-bottom: none;
}

.work-link {
    display: block;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: white;
}

.header th:hover {
    background-color: white;
    color: #110900;
}