  .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    /*background-color: #110900;*/
}

.footer-links{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20%;
    text-decoration: none;
    color: white;
}

.footer-links{
    width: 70%;
    text-decoration: none;
    color: #110900;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.social img{
    width: 20px;
    height: auto;
    padding: 5px;
    align-items: center;
}

.logo{
    height: auto;
    margin: 0 auto;
}

.logo img{
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.pages {
    font-family: 'Clash Display';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

<<<<<<< HEAD
.pages a {
    text-decoration: none;
    color: whitesmoke;
    white-space: nowrap;

}

.pages a:hover {
    color: #ff9900;
}
=======
email{
    font-size: small;
}
>>>>>>> 324d46cf659afc4fc349bd1a3f31072db1e89516
