
.work_container{
    display: flex;
    flex-direction: column;
    width:100%;
}

.text {
    display: flex;
    flex-direction: column;
    /*width: 700px;*/
    width: 60%;
    margin-left: 10%;
}

.title{
    font-family: 'Crimson Text';
    font-weight: bold;
    font-size: 96px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin:0;
}

.client{
    font-family: 'Crimson Text';
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height:  100%;
    text-transform: uppercase;
    margin:0;
}

.year{
   font-family: 'Clash display'; 
   margin-bottom: 10px;
}

/*-----------------------------imagens*/
.imagedescript{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width:90%;
}
.image {
    flex-direction: column;
    /*width: 500px;*/
    margin-bottom: 20px;
    width: 60%;
}

.work_detail, .extra_img {
    /*width: 500px;*/
    width: 100%;
    margin-bottom: 20px; 
  }

/*---------------------------descrição das img*/
.descript{
    flex-direction: column;
    /*margin-left: 200px;*/
    width:30%;
    margin-left: 5%;
     margin-bottom: 100px;
}

.description {
    font-family: 'Alte Haas Grotesk';
    font-size: 24px;
    margin: 0;
}

.author {
    font-family: 'Clash display';
    text-transform: uppercase;
}

.tags {
    font-family: 'Crimson Text';
    font-size: 32px;
    text-transform: uppercase;
}