.carousel-work, .carousel-team {
    display: flex;
    align-items: stretch;
    padding: 7vh 5vh 7vh 7vh;
    gap: 3vh;
    max-height: 100vh;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* Firefox */
    -webkit-scrollbar-width: thin; /* Safari, Chrome */
}

.carousel-work::-webkit-scrollbar, .carousel-team::-webkit-scrollbar {
    width: 0.2rem;
}

.carousel-work::-webkit-scrollbar-thumb, .carousel-team::-webkit-scrollbar-thumb{
    display: none;
}

/*--------------------TEAM INTRO */

.info-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 96px;
    width: 70%;
    height: auto;
    animation: fadeIn;
    animation-duration: 1.5s;
    margin-top: 7vh;
    margin-bottom: 20px;
}

.page-desc {
    font-family: 'Alte Haas Grotesk';
    font-size: 24px;
    width: 80vh;
    height: auto;
    padding: 0 0 0 30%;
    animation: fadeIn;
    animation-duration: 2.5s;
}

/*--------------------TEAM CAROUSEL */

.team-item {
    position: relative;
    height: 30vh;
    width: 30vh;
    margin: 0 0 0 0;
    transition: transform 0.1s ease-in-out;
    /*transition: opacity 1s ease-in-out;*/
}



.team-item:not(.selected) {
    opacity: 0.3;
}

.team-item:hover {
    transform: scale(1.4);
    opacity: 1;
}

.team-item.selected {
    transform: scale(1.4);
    /*animation: bounce;
    animation-duration: 0.1s;*/
}

.team-img {
    height: 100%;
    width: auto;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 60%;
}

/*--------------------MEMBER DETAIL 

/* foto + bio */
.member-detail{
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4vh;
    justify-content: left;
    margin: 3% 3% 3% 3%;
    margin-left: 50vh;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
}

/* nome membro */
.detail-name{
    font-family: 'Alte Haas Grotesk';
    font-size: 30px;
    margin: 0 10% 0 0;
}

/* bio membro */
.detail-bio{
    font-family: 'Alte Haas Grotesk';
    font-size: 15px;
    margin: 0 10% 5% 0;
}

/* tags membro */
.detail-tag{
    font-family: 'Crimson Text';
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 5vh;
}

/*--------------------WORK CAROUSEL */

.work-item-container {
    position: relative;
    overflow: hidden;
  }

.work-item {
    height: 40vh;
    width: auto;
    position: relative;
    text-align: center;
}

.work-img {
    max-height: 30vh;
    width: auto;
    display: block;
    margin: 0 auto;
    transition: opacity 0.25s ease-out 100ms;

}

/* HOVER NOS TRABALHOS */
.work-item {
    position: relative;
  }
  
  .overlay-text-work {
    display: flex;
    align-items: flex-start; /* Align to the top */
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #F7931E;
    font-size: 12pt;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-family: 'Clash Display';
    text-transform: uppercase;
  }
  
  .work-item:hover .work-img {
    opacity: 0.3; /* Adjust the opacity value as needed */
  }
  
  .work-item:hover .overlay-text-work {
    opacity: 1;
  }
/* FIM HOVER NOS TRABALHOS */


@media only screen and (max-width: 767px) {
    .page-title {
        width: 70%;
        font-size: 10vw;
    }
    .page-desc {
        width: 90%;
        font-size: 3vw;
        box-sizing: border-box;
        padding: 0 0 0 25%;
    }
    
    .carousel-work, .carousel-team {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        gap: 4vh;
    }
    .team-item{
        height: 20vh;
    }
    .member-detail {
        margin-left: 10% ; 
        box-sizing: border-box;
        grid-template-columns: 4fr 1fr;
    }

    .detail-name {
        font-size: 5vw;
        margin: 0 5% 0 0;

    }
    
    .detail-bio {
        font-size: 3vw;
        margin: 0 5% 2% 0;
    }
    
    .detail-tag {
        font-size: 4vw; 
        margin-top: 2vh;
    }

}