.carousel-work, .carousel-team {
    display: flex;
    align-items: stretch;
    padding: 7vh 5vh 7vh 7vh;
    gap: 3vh;
    max-height: 100vh;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* Firefox */
    -webkit-scrollbar-width: thin; /* Safari, Chrome */
}

.carousel-work::-webkit-scrollbar, .carousel-team::-webkit-scrollbar {
    width: 0.2rem;
}

.carousel-work::-webkit-scrollbar-thumb, .carousel-team::-webkit-scrollbar-thumb{
    display: none;
}

/*--------------------TEAM INTRO */

.info-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 8vh 0;
}

.page-title {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 96px;
    width: 70%;
    height: auto;
}

.page-desc {
    font-family: 'Alte Haas Grotesk';
    font-size: 24px;
    width: 50vh;
    height: auto;
    max-height: 40vh;
    padding: 0 0 0 30%;
}

/*--------------------TEAM CAROUSEL */

.team-item {
    position: relative;
    height: 30vh;
    width: 30vh;
    margin: 0 0 0 0;
    transition: transform 0.3s ease-in-out opacity 0.3s ease-in-out;
}

.team-item.selected {
    
    transform: scale(1.4);
}

.team-item:not(.selected) {
    opacity: 0.3;
}

.team-item:hover {
    transform: scale(1.4);
    opacity: 1;
}


.team-img {
    height: 100%;
    width: auto;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 60%;
}

/*--------------------MEMBER DETAIL 

/* foto + bio */
.member-detail{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
    justify-content: left;
    margin: 3% 3% 3% 3%;
}

/* nome membro */
.detail-name{
    font-family: 'Alte Haas Grotesk';
    font-size: 30px;
    margin: 0 10% 0 0;
}

/* bio membro */
.detail-bio{
    font-family: 'Alte Haas Grotesk';
    font-size: 15px;
    margin: 0 10% 5% 0;
}

/* tags membro */
.detail-tag{
    font-family: 'Crimson Text';
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 5vh;
}

/*--------------------WORK CAROUSEL */

.work-item {
    height: 40vh;
    width: auto;
    text-align: center;
}

.work-img {
    max-height: 30vh;
    width: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .page_title {
        width: 70%;
    }
    .page_desc {
        width: 90%;
        height: auto;
    }
    .carousel-work, .carousel-team {
        width: 100%;
        margin: 0 auto;
        gap: 4vh;
    }
}