/*------------------- HERO */
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -10vh;
}

.hero{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.overlay-logo {
  position: absolute;
  height: 15vh;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

/*------------------- INTRO */

.intro{
  width: 30%;
  height: auto;
  margin: 30vh 10vh 30vh 90vh;
}

/*------------------- GRID */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display two columns */
  gap: 20px;
  margin: 0vh 3vh 0vh 3vh;
}
.work-in-grid {
  width: 100%;
  height: auto;
  display: block;
}

/*-------------------  */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
