/*----------------------  SEARCH */
.search-container {
  margin: 5vh;
  padding: 2vh;
  font-size: 20px;
  font-family: 'Clash Display' ;
  font-weight: regular;
  text-transform: uppercase;
  font-size: 12pt;
}

.search-input {
  width: 80%;
  /*outline: 1px whitesmoke;*/
  outline: none;
  /*outline-style: solid;*/
  border: none;
  border-bottom: 2px solid whitesmoke;
  padding: 5px;
  background-color: #110900;
  color: white;
  margin: 0 3vh 6vh 2vh;
}

/*----------------------  TAGS */
.container {
  display: row;
  position: relative;
  padding-left: 2vh;
  /*padding-bottom: 3vh;*/
  margin: 2vh 2vh;
  margin-bottom: 3vh;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 2;
}

/* Hide the browser's default checkbox */
.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  outline-color: whitesmoke;
  outline-style: solid;
  margin-bottom: 6px;
  margin-right: 6px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  stroke: whitesmoke;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: whitesmoke;
}

/* Create the checkmark/indicator (hidden when not checked)
.checkmark:after {
  
} */

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*----------------------  TABELA*/
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-table {
  width: 90%;
  height: auto;
  border-collapse: collapse;
 /* margin: 4vh;*/
  font-size: 22px;
  font-family: 'Clash Display' ;
  font-weight: regular;
  text-transform: uppercase;
  font-size: 12pt;
  text-align: left;
}

.search-table th,
.search-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.search-table td:first-child {
 font-weight: bold;
}

.first-column{
  transition: background-color 0.15s ease-out 100ms
}

.first-column:hover {
  background-color: #F7931E;
 }
 

.work-link {
  display: block;
  padding: 12px;
  /*text-align: center;*/
  text-decoration: none;
  color: white;
}

.header th{
  transition: color 0.5s ease-out 100ms;
  transition: background-color 0.25s ease-out 100ms
}

.header th:hover {
  background-color: white;
  color: #110900;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {

  .search-container {
    font-size: 14px;
    width: 80%;
  }

  .container {
    font-size: 12px;
    line-height: 2;

  }

  .search-table {
    font-size: 10px;
    width: 80%;
    
  }
  .search-input {
    width: 60%;
    margin: 0 2vh 4vh 2vh;
  }

}
