  .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #110900;
}
/*
.footer-links{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20%;
    text-decoration: none;
}*/

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 10px;
}

/*---------------------ICON*/
.social{
    display: flex;
    margin: 0 auto;
    flex: 1;
    justify-content: center;
    margin-bottom: 20px;
}

.social img{
    width: 25px;
    height: auto;
}

.logo{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    color: rgba(255, 249, 241, 0.7);
    font-size: 10px;
    flex: 2;
}

.logo img{
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.logo p{
    font-size: 10px;
}

/*--------------------------------- NAVBAR*/
.pages {
    display: flex;
    flex:1;
    margin: 0 auto;
    justify-content: flex-end;
}

.pages a {
    font-family: 'Clash Display';
    text-decoration: none;
    color: #FFF9F1;
    padding: 0 40px;
    margin-bottom: 30px;
    font-size: small;
}

.pages a:hover {
    color: #ff9900;
}

/*-------------------------------- EMAIL*/
.email {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%; 
    padding-top: 50px;
    padding-bottom: 100px;
}

.email p {
    font-size: 24px;
    font-family: Clash Display;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.20px;
    word-wrap: break-word;
    display: inline; 
    color:#F7931E;
    margin-right: 10px;
    text-decoration: none;
}

.email p.stroke {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ff9900;
    -webkit-text-fill-color: black;
}

.email a {
    text-decoration: none;
}

.email p:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ff9900;
    -webkit-text-fill-color: black;
}

.email p.stroke:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: #ff9900;
}


/*-------------------------------- CTA*/
.call-to-action p{
    font-family: 'Alte Haas Grotesk';
    font-size: 60px;
    padding-top: 30px;
}
.call-to-action p span::before {
    font-family: 'Crimson text';
    font-style: italic;
    font-weight: bold;
    color: #ff9900;
    font-size: 65px;
    content: "DESIGN";
    animation: animate infinite 6s;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes animate {
    0%, 100% {
        content: "DESIGN";
    }
    25% {
        content: "WORK";
    }
    50% {
        content: "MAKE";
    }
    75% {
        content: "CREATE";
    }
}


@media only screen and (max-width: 767px) {
    .footer, .footer-links {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .call-to-action p{
        font-size: 15px;
        padding-top: 30px;
    }

    .call-to-action p span::before {
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .email p {
        font-size: 10px;
    }
    
    .footer-links{
        flex-direction: column;
    }

    .social {
        margin-bottom: 30px;
    }

    .pages {
        display: none;
    }
}
