.carousel-work, .carousel-team {
    display: flex;
    align-items: stretch;
    padding: 0 5vh 0 5vh;
    gap: 3vh;
    max-height: 100vh;
    margin-top: 50px;
    margin-left: 0;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* Firefox */
    -webkit-scrollbar-width: thin; /* Safari, Chrome */
}

.carousel-work::-webkit-scrollbar, .carousel-team::-webkit-scrollbar {
    width: 0.2rem;
}

.carousel-work::-webkit-scrollbar::-webkit-scrollbar-thumb, carousel-team::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/*--------------------TEAM INTRO */

.page_title {
    font-family: 'Crimson text';
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;
}
.page_desc {
    font-family: 'Alte Haas Grotesk';
    width: 30%;
    height: auto;
    gap: 4vh;
    justify-content: right;
    padding: 5% 5% 5% 50%;
    margin: 0 auto;
}

/*--------------------TEAM CAROUSEL */

.team-item {
    height: 40vh;
    width: auto;
    text-align: center;
    margin: 0 auto;
}

.team-img {
    width: 50vh;
    height: 50vh;
    max-height: 40vh;
    display: block;
    margin: 0 auto;
    border-radius: 60%;
}

/*--------------------MEMBER DETAIL */

/* grupo (foto + tag) + bio */
.member-detail{
    display: flex;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 4vh;
    justify-content: left;
    margin: 3% 3% 3% 3%;
}

/* grupo foto + tag */
.member-imgs{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 3% 3% 5% 3%;
}

/* foto */
.detail-img{
    width: 80%;
    max-height: 80%;
}

/* name tag */
.detail-tag{
    width: 80%;
    max-height: 20%;
    margin-top: -4vh;
}

/* bio membro */
.detail-bio{
    font-family: 'Alte Haas Grotesk';
    font-size: 15px;
    margin: 0 10% 10% 0;
}

/*--------------------WORK CAROUSEL */

.work-item {
    height: 40vh;
    width: auto;
    text-align: center;
}

.work-img {
    max-height: 30vh;
    width: auto;
    display: block;
    margin: 0 auto;
}