.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7931E;
    z-index: 1000;
}

.navbar-links{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    text-decoration: none;
    color: #110900;
    align-items: center;
}

.navbar-links a {
    font-family: 'Clash Display' ;
    font-weight: bold;
    margin-right: 15px;
    color: #110900;
    font-size: 20px;
    text-decoration: none;
}

.navbar-img {
    height: 6vh;
    width: auto;
    margin-right: 15px;
}


.navbar-search {
    height: 3vh;
    width: auto;
    margin-right: 15px;
}

@media only screen and (max-width: 767px) {
    .navbar {
        width: 100%;
    }
    
    .navbar-links {
        width: 100%;
    }
    .navbar-links a {
        font-size: 15px;
    }
}